.header {
  display: flex;
  justify-content: space-between;
  padding-top: 4.16vw;
  background: #e2ffd0;
  padding-left: 8.33vw;
  padding-right: 8.33vw;
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2vw;
  align-items: center;
}

.header_btn {
  background-color: rgba(1, 138, 190, 1);
  color: white;
  width: 10.76vw;
  height: 3.75vw;
  border-radius: 0.41vw;
  background: #6d28d1;
}

a {
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom /
    0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}
